<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniproj.mappers.hboardmapper">
	
	<!--  게시판의 모든 게시글을 번호 내림차순 정렬하여 가져오는 쿼리문 -->
	<select id="getAllHBoard" resultType="com.miniproj.model.HBoardVO">
		select * from hboard order by boardNo desc
	</select>
</mapper> 