<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniproj.mappers.membermapper">

	<!--  유저에게 지급된 point를 update하는 쿼리문 -->
	<update id="updateUserPoint">
		update member set userpoint = userpoint + (select pointScore from pointdef where pointWhy = #{pointWhy}) 
		where userId = #{pointWho}
	</update>
	
	<!-- 아이디가 같은 데이터가 있는지 조회 -->
	<select id="selectUserId" resultType="int">
		SELECT COUNT(*) FROM member WHERE userId = #{tmpUserId}
	</select>
	
	<!-- 회원가입 쿼리문 -->
	<insert id="insertMember">
		INSERT INTO member
		<if test="userImg != null">
			(userId, userPwd, userName, gender, mobile, email, hobby, userImg) 
			VALUES(#{userId}, sha1(md5(#{userPwd})), #{userName}, #{gender}, #{mobile}, #{email}, #{hobbies}, #{userImg})
		</if>
		<if test="userImg == null">
			(userId, userPwd, userName, gender, mobile, email, hobby)
			VALUES(#{userId}, sha1(md5(#{userPwd})), #{userName}, #{gender}, #{mobile}, #{email}, #{hobbies})
		</if>
	</insert>
	
	<!-- 로그인 시도 쿼리문 -->
	<select id="loginWithDTO" resultType="com.miniproj.model.MemberVO">
		SELECT * FROM member WHERE userId = #{userId} AND userPwd = sha1(md5(#{userPwd}))
	</select>
	
	<!-- 자동 로그인 정보를 저장하는 쿼리문 -->
	<update id="updateAutoLoginInfo">
		UPDATE member SET sesid = #{sesid}, allimit = #{allimit} WHERE userId = #{userId}
	</update>
	
	<!-- 자동 로그인 유저를 확인하는 쿼리문 -->
	<select id="checkAutoLoginUser" resultType="com.miniproj.model.MemberVO">
		SELECT * FROM member WHERE sesid = #{sesid} AND allimit > now()
	</select>
	
	<!--  유저의 계정을 잠그는 쿼리문 -->
	<update id="updateAccountLock">
    update member set islock = 'Y' where userId = #{userId}
	</update>
	
	
	
</mapper>