<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniproj.mappers.messagemapper">

   <select id="getFriends" resultType="com.miniproj.model.FriendVO">
    select userId as friendId, userName as friendName from member where userId != #{userId}
   </select>
	
	
	<insert id="sendMessage">
	insert into message(receiver, sender, msgContent) value(#{receiver}, #{sender},#{msgContent})
	</insert>
	
	<select id="getMessages" resultType="com.miniproj.model.MessageVO">
	select msgId, sender, msgContent, msgWrittenDate from message where receiver = #{receiver} order by msgId desc
	
	</select>
	
	
	<update id="updateIsRead">
		update message set isRead = 'Y' where msgId = #{msgId}
	</update>
</mapper>