<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniproj.mappers.replyMapper">

	<select id="getReplies" resultType="com.miniproj.model.ReplyVO">
		select r.*, m.userImg, m.userName, m.email
		from replyboard r inner join member m
		on r.replyer = m.userId
		where r.boardNo = #{boardNo}
		order by replyNo desc limit #{startRowIndex}, #{viewPostCntPerPage}
	</select>

	<select id="getReplyCount" resultType="int">
		select count(*) from
		replyboard where boardNo = #{boardNo}
	</select>

</mapper>